

/* 헤더 영역 스타일 지정 */
		   #m_header img {
			float:left; 
			margin-right:20px;
			}

		   #m_header {  
			font-family: 'Serif';
			background-color:#fff8dc;
			border-top:2px solid #7a5230;
			border-right:2px solid #7a5230;
			border-left: 2px solid #7a5230;
			height:150px;
		        }
		   #m_header li {                  
			list-style-type:none;
			display:inline;
			float:right; 
			
			align-content: center;
			border:2px solid #7a5230;
			border-radius: 5px;
			margin-right: 5px;
			text-align: center;
			padding-left: 5px;
			padding-bottom: 5px;
			background-color:white;
		        }

		   #m_header a {   
			text-decoration:none;
			color:#7a5230;
			}

			#headerbutton {
				background-color: #fffcf0;
				border: 1px solid #7a5230;
			}
			.searchtext {
				border:none;
			}


/* 섹션 영역 스타일 지정 */
		   #m_main iframe {
				 width:100%;
				 min-height: 1000px;
				 border:none;
		   	}

		   #m_main {
			width:100%;
			background-color:#fff;
			text-align:center
		        }

/* 푸터 영역 스타일 지정 */
		   #m_footer {
			clear:both;
			padding : 1px 1px;
			text-align:center; 
			font-size:12px;
			background-color:cornsilk;
			border-bottom:2px solid #7a5230;
			border-right:2px solid #7a5230;
			border-left: 2px solid #7a5230;
		          }

/* 전체 너비 및 가운데 배치 */
		#total_lay{
			max-width:1000px;
			margin:0 auto;
            }
            

/* 위키 겉모양 */
.d h1 {
    color:#7a5230;
    text-align: justify
}
.d h1:before {
    border-left:5px solid #fff8dc;
}
.d hr.title {
    color:#fff8dc
}
.d blockquote:before{
    color:#7a5230;
    content:'“';
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    border-left: 5px solid #fff8dc;
    }
    .d blockquote p {
      display: inline;
    }
.d li{
    color:7a5230;
}
.d p.shade{
    color:grey;
}
.d a:link{
    color:#0040ff;
    text-decoration: none;
}
.d a:visited{
    color:#5900ff;
    text-decoration: none;
}

#shade {
    color: gray;
}