h1 {
    color:#7a5230;
}
h1:before {
    border-left:5px solid #fff8dc;
}
hr.title {
    color:#fff8dc
}
blockquote:before{
    color:#7a5230;
    content:'“';
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    border-left: 5px solid #fff8dc;
    }
    blockquote p {
      display: inline;
    }
li{
    color:7a5230;
}
p.shade{
    color:grey;
}
a:link{
    color:#0040ff;
    text-decoration: none;
}
a:visited{
    color:#5900ff;
    text-decoration: none;
}